.NavigationItem {
  font: inherit;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
}

.NavigationItem a {
  font-weight: bold;
  color: #353E4A;
  text-decoration: none;  
  height: auto;
  width: 100%;
  text-align: center;
  padding: 10px 16px;
  border-right: 3px solid transparent;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  /* border-bottom: 4px solid #40A4C8; */
  /* color: #353E4A; */
  background-color: #EBE4CE;
  border-right: 3px solid #40A4C8;
  color: #353E4A;
}


