.UserInfo {
  display: flex;
  align-items: center; 
  padding: 0 20px;
  flex-direction: column;
}

.Logo {
  display: flex;
  justify-content: center;
  margin: 25px auto;
}

.Username {
  display: flex;
  justify-content: center;
  margin: auto;
}

.StatusIcon {
  margin: 0 5px;
}

.Green {
  color: #8CC516;
}

.Orange {
  color: #D66405;
}

.Red {
  color: #B16666;
}