.OrdersList {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.Sorting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}

.SortOption {
  display: flex;
  list-style: none;
  margin: 0;
  align-items: flex-start;
  width: auto;
  padding: 0;
}

.SortOption a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}