.Auth {
  margin: 100px auto;
  width: 500px;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 30px;
  box-sizing: border-box;
}

.Logo {
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
}

.Logo img {
  height: 100%;
}